.main-header {
  height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
  margin: 3rem 100px 0 100px;
}

.main-header-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}

.main-header-left h4 {
  margin-bottom: 1rem;
  color: var(--color-secondary);
  font-weight: 400;
}

.main-header-left h1 {
  background: -webkit-linear-gradient(#e93e14, hsl(330, 91%, 21%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-header-left p {
  margin: 1rem 0 3.5rem;
  font-size: 1.1rem;
  color: #5d6d7e;
}

.main-header-right {
  display: grid;
  place-items: center;
  position: relative;
}

.main-header-circle {
  width: 25rem;
  height: 25rem;
  background: linear-gradient(75deg, var(--color-secondary), transparent);
  border-radius: 50%;
  position: absolute;
  transition: var(--transition);
}

.main-header-image {
  position: relative;
}

.main-header-right:hover .main-header-circle {
  filter: blur(5px);
}

/* Programs */
.program-container {
  padding: 0 64px;
  background: #e5e7e9;
  border-top-right-radius: 4.5rem;
}

.programs {
  margin-top: 4rem;
}

.program-wrapper {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.8rem;
}

.programs-program a {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.programs-program:hover a {
  background: var(--color-secondary);
  color: #fff;
}

/* Values Section*/

.values {
  border-top-right-radius: 3rem;
  background: #e5e7e9;
  margin: 8rem 64px 0 64px;
  padding: 1rem;
}

.values-container {
  display: grid;
  grid-template-columns: 38% 50%;
  gap: 12%;
}

.values-img {
  filter: saturate(.25);
  margin-top: 3rem;
  transition: var(--transition);

}

.values-img:hover {
  filter: saturate(1);
}

.values-img img {
  border-radius: 1.8rem;
}

.values-right > p {
  margin: 1.5rem 0 5rem;
  color: rgb(139, 137, 137);
}

.values-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.2rem 2.4rem;
}

.card.values-value {
  padding-top: 3.5rem;
  text-align: left;
  position: relative;
}

.card.values-value span {
  position: absolute;
  top: -1.5rem;
}