.main-header {
  height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
  margin: 3rem 100px 0 100px;
}

.main-header-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}

.main-header-left h4 {
  margin-bottom: 1rem;
  color: var(--color-secondary);
  font-weight: 400;
}

.main-header-left h1 {
  background: -webkit-linear-gradient(#e93e14, hsl(330, 91%, 21%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-header-left p {
  margin: 1rem 0 3.5rem;
  font-size: 1.1rem;
  color: #5d6d7e;
}

.main-header-right {
  display: grid;
  place-items: center;
  position: relative;
}

.main-header-circle {
  width: 25rem;
  height: 25rem;
  background: linear-gradient(75deg, var(--color-secondary), transparent);
  border-radius: 50%;
  position: absolute;
  transition: var(--transition);
}

.main-header-image {
  position: relative;
}

.main-header-right:hover .main-header-circle {
  filter: blur(5px);
}

/* Programs */
.program-container {
  padding: 0 64px;
  background: #e5e7e9;
  border-top-right-radius: 4.5rem;
}

.programs {
  margin-top: 4rem;
}

.program-wrapper {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.8rem;
}

.programs-program a {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.footer-socials a {
  background: var(--color-gray-100);
  padding: 0.7rem;
  font-size: 1.2rem;
  border: 1px solid transparent;
  border-radius: 0.6rem;
  transition: var(--transition);
}

.footer-links a {
  color: #fff;
}

.programs-program:hover a {
  background: var(--color-secondary);
  color: #fff;
}

/* Values Section */

.values {
  border-top-right-radius: 3rem;
  background: #e5e7e9;
  margin: 8rem 64px 0 64px;
  padding: 1rem;
}

.values-container {
  display: grid;
  grid-template-columns: 38% 50%;
  gap: 12%;
}

.values-img {
  filter: saturate(0.25);
  margin-top: 3rem;
  transition: var(--transition);
}

.values-img:hover {
  filter: saturate(1);
}

.values-img img {
  border-radius: 1.8rem;
}

.values-right > p {
  margin: 1.5rem 0 5rem;
  color: rgb(139, 137, 137);
}

.values-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.2rem 2.4rem;
}

.card.values-value {
  padding-top: 3.5rem;
  text-align: left;
  position: relative;
}

.card.values-value span {
  position: absolute;
  top: -1.5rem;
}

.faqs {
  border-top-left-radius: 3rem;
  background: #fcfcfc;
  margin: 8rem 64px 0 64px;
  padding: 2rem 6rem;
  color: #222;
}

.faq-question h4 {
  color: #3e3f41;
  padding-bottom: 0.5rem;
}

.faqs-wrapper {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 2rem;
  align-items: flex-start;
}

.faq {
  background: #e2e2df;
  padding: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.faq div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #9b520e;
}

.faq-icon {
  background: transparent;
  color: var(--color-gray-500);
  font-size: 1.5rem;
}

.faq p {
  margin-top: 1.5rem;
}

.faq:hover {
  background: rgb(134, 131, 131);
  color: #fff;
}

/* testimonial */

.testimonials {
  background: #fcfcfc;
  margin: 8rem 64px 0 64px;
  padding: 2rem 6rem;
  width: 60rem;
  margin-inline: auto;
}

.testimonials-head {
  justify-content: center;
}

.card.testimonial {
  position: relative;
  text-align: left;
  margin-top: 5rem;
}

.testimonial-avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 1.5rem;
  border: 2px solid transparent;
  overflow: hidden;
  position: absolute;
  top: -2rem;
  left: calc(50% - 2rem);
  box-shadow: 0 1.5rem 2rem rgba(26, 26, 26, 0.4);
  transition: var(--transition);
}

.testimonial:hover .testimonial-avatar {
  border-radius: 50%;
  border-color: var(--color-gray-400);
}

.testimonial-quote {
  font-style: italic;
  margin: 1rem 0 2rem;
}

.card small .testimonial-title {
  margin-top: 0.3rem;
}

.testimonial-btn-container {
  width: fit-content;
  margin: 0.5rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.testimonials-btn {
  background: transparent;
  cursor: pointer;
}

.testimonials-btn svg {
  fill: var(--color-secondary);
  font-size: 1.8rem;
  width: 3rem;
  height: 3rem;
}

/* Footer section */

.footer-section {
  background: #181816;
  margin-top: 4rem;
}

.footer-container {
  display: grid;
  grid-template-columns: 26rem 1fr 1fr 1fr;
  gap: 6rem;
  padding: 2rem 1rem;
}

.footer-logo img {
  width: 100px;
}

.footer-container article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;
}

.footer-container article p {
  margin-top: 0.5rem;
  color: rgb(163, 162, 162);
}

.footer-links h4 {
  color: rgb(192, 105, 5);
}

.footer-container article h4 {
  margin-bottom: 0.6rem;
  font-size: 1rem;
}

.footer-socials {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer-socials a:hover {
  border: rgb(126, 65, 8);
  background: rgb(197, 133, 15);
}

.footer-socials a svg {
  color: var(--color-gray-600);
  transition: var(--transition);
}

.footer-socials a:hover svg {
  color: #fff;
}

.footer-copyright {
  color: var(--color-gray-100);
  text-align: center;
  padding: 1.5rem 0;
  border-top: 2px solid var(--color-primary-variant);
  margin-top: 5rem;
}
