nav {
  height: 5rem;
  background: var(--color-primary);
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: #fbfcfc;
  box-shadow: 3px 10px 5px 0 rgba(77, 70, 70, 0.75);
  -webkit-box-shadow: 3px 1px 5px 0 rgba(180, 175, 175, 0.75);
  -moz-box-shadow: 3px 10px 5px 0 rgba(77, 70, 70, 0.75);
}

.nav-toggle-btn {
  display: none;
}

.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  width: 8rem;
  margin-left: 4rem;
}

.nav-links {
  display: flex;
  align-items: center;
  padding: 1.3rem;
  gap: 3rem;
  margin-right: 4rem;
}

.nav-links a {
  transition: var(--transition);
}

.nav-links a:hover {
  color: var(--color-secondary);
}

.active-nav {
  position: relative;
}

.active-nav::after {
  content: "";
  display: block;
  width: 2.1rem;
  height: .3rem;
  background: var(--color-secondary);
  position: absolute;
  left: calc(50% - 1.2rem);
  margin-top: 1.2rem;
  opacity: .6;
  z-index: 0;
}

@media screen and (max-width: 1024px) {
  .nav-toggle-btn {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    margin-right: 1.5rem;
    padding: 12px 0;
    cursor: pointer;
  }

  .nav-toggle-btn svg {
    color: var(--color-gray-200);
  }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    width: 45%;
    flex-direction: column;
    gap: 0;
    perspective: 400px;
  }

  .active-nav,
  .active-nav::after {
    display: none;
  }

  .nav-links li {
    height: 4rem;
    width: 100%;
    box-shadow: -0.9rem 1rem 2rem rgba(168, 164, 164, 0.4);
    animation: navAnimation 600ms ease forwards;
    transform: rotate(90deg);
    opacity: 0;
    transform-origin: top;
  }

  .nav-links li:nth-child(2) {
    animation-delay: 200ms;
  }

  .nav-links li:nth-child(3) {
    animation-delay: 400ms;
  }

  .nav-links li:nth-child(4) {
    animation-delay: 600ms;
  }

  .nav-links li:nth-child(5) {
    animation-delay: 800ms;
  }

  .nav-links li:nth-child(6) {
    animation-delay: 1s;
  }

  .nav-links li:nth-child(7) {
    animation-delay: 1.2s;
  }
  @keyframes navAnimation {
    to {
      transform: rotate(0);
      opacity: 1;
    }
  }
  .nav-links li a {
    background-color: var(--color-primary);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 5rem 1rem 3rem;
  }

  .active-nav::after {
    margin-top: 2.5rem;
  }

  .show-nav {
    display: flex;
  }

  .hide-nav {
    display: none;
  }
}
