*,
*::after,
*::before {
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --primary-hue: 255;
  --gray-hue: 255;
  --color-primary: hsl(var(--primary-hue), 100%, 100%);
  --color-primary-variant: hsl(var(--primary-hue), 100%, 65%);
  --color-secondary: #ffb116;
  --color-gray-100: hsl(var(--gray-hue), 47%, 94%);
  --color-gray-200: hsl(var(--gray-hue), 26%, 75%);
  --color-gray-300: hsl(var(--gray-hue), 24%, 64%);
  --color-gray-400: hsl(var(--gray-hue), 16%, 41%);
  --color-gray-500: hsl(var(--gray-hue), 44%, 25%);
  --color-gray-600: hsl(var(--gray-hue), 48%, 15%);
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --transition: all 500ms ease;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-gray-200);
  line-height: 1.7;
  overflow-x: hidden;
  background: var(--color-primary);
}

.container {
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  color: #34495e;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

a {
  color: var(--color-gray-400);
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.btn {
  color: #fdfefe;
  width: fit-content;
  margin: 0 auto;
  padding: 0.9rem 2rem;
  background: #2e86c1;
  border-radius: 1.5rem;
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-secondary);
  color: var(--color-gray-600);
}

.btn.lg {
  padding: 1.2rem 3rem;
  border-radius: 2rem;
  font-size: 1.1rem;
}

.btn.sm {
  padding: 0.4rem 1.2rem;
  font-size: 0.9rem;
  transition: var(--transition);
}

.btn.sm:hover {
  background: var(--color-gray-100);
}

section {
  margin-top: 10rem;
}

.section-head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.section-head span {
  background: #2E86C1;
  padding: 0.8rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.5rem;
}

.card {
  background: #4A235A;
  border: 2px solid transparent;
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 0 3rem 0 3rem;
}

.card:hover {
  background: #351941;
  border-color: var(--color-gray-500);
  cursor: default;
}

.card span {
  width: 3rem;
  height: 3rem;
  background:#0689e0;
  font-size: 1.5rem;
  padding: 0.8rem;
  color: #fff;
  display: grid;
  place-items: center;
  margin-bottom: 1.5rem;
  margin-inline: auto;
  border-radius: 1rem;
  transition: var(--transition);
}

.card:hover span {
  background: var(--color-secondary);
  color: #0d0f75;
}

.card small {
  margin-top: 1rem;
  display: block;
  font-weight: 300;
  color: #fbfcfc;
}